################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/GelreAirport/v15
/GelreAirport/bin/Debug
